@model iCanSpeakAdminPortal.Models.PushNotificationModel
@{
    ViewBag.Title = "Send Push Notifications";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Send Push Notifications</title>
    <link href="~/Content/themes/fileinput.css" rel="stylesheet" />
    <link href="~/Content/themes/style.css" rel="stylesheet" />
    <script src="~/Scripts/fileinput.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    <div class="courses-page">
        <div class="container">
            <header>
                <h2>Send Push Notifications</h2>
                @*<a style="cursor:pointer; color:#3d3b3b; font-size:14pt;float:right;margin-top:-55px; font-weight:200;" href="@Url.Action("CourseList", "Courses")">Go To Courses List</a>*@
            </header>
            <div class="contant">
                <div class="row">
                    @using (Html.BeginForm("Send", "PushNotification", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Message Text</label>
                                <textarea id="Message" name="Message" required class="form-control" style="height: 150px !important" maxlength="30" placeholder="Enter message here"></textarea>
                                @*<input type="text" class="form-control" placeholder="Notification Message" id="Message" name="Message">*@
                            </div>
                            <div style="margin-left:65px" class="form-group">
                                <button type="submit" class="btn btn-info">Submit</button>
                                <a href="../../Admin/Account/Dashboard">
                                <button type="button" class="btn btn-info">Cancel</button></a>
                            </div>
                            <div class="form-group">
                                @if (ViewBag.Result == "Success")
                                {
                                    <label style="color:green;font-size:16px">Notification sent successfully</label>
                                }
                                else
                                {
                                    <label style="color:red;font-size:16px">@ViewBag.Result</label>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
