@{
    ViewBag.Title = "WordDetail";
}

<style type="text/css">
    #footer {
        margin-top: 1px;
    }
</style>
<script src="@Url.Content("/Scripts/jquery.min.js")"></script>

<div class="row accordian">

    <div class="container">
       
        <div class="col-lg-12 ">
            <div class="col-md-8">
                <h2 class=" user-profile">
                    <img src="~/Content/img/online.png" />@ViewBag.Username</h2>
                <h4 class="tutor-city-name left">@ViewBag.Country</h4>
            </div>
        </div>

        <a href="../../Home/MyCourse">
            <div class="col-lg-2 grey-wrapper">
                <h2>Grammar</h2>
            </div>
        </a>

        <a href="../Vocab/VocabList">
            <div class="col-lg-2 blue-wrapper2">
                <h2>Vocabulary</h2>
            </div>
        </a>

        <a href="../Dialog/DialogList">
            <div class="col-lg-2 grey-wrapper">
                <h2>Dialogue</h2>
            </div>
        </a>
        <!--<div class="col-lg-2 grey-wrapper">
                    <h2>Course Duration</h2>
                    
                </div>-->
        <span class=" right-part"></span>
        <div class="clearfix"></div>


        <div id="vocabpartial">
            @Html.Partial("_WordDetail");
        </div>
    </div>
</div>
