@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_UnLoginLayout.cshtml";
}
 
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.min.js")"></script>
    
  
    <script type="text/javascript">
        $(document).ready(function () {
            $('.forget').click(function () {
               // alert("call");
                window.setTimeout(function () { $(".alert-success").hide(); }, 50000);
                window.setTimeout(function () { $(".alert-danger").hide(); }, 50000);

               
            });
        });
    </script>

    <div class="row">
        <div class="container">

        
            <div class="col-lg-12 error_page">
                
                  @if (ViewBag.Message != null && ViewBag.Message == 1)
                    {
                     <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Password has been sent to your email address!</h4>
                          </div>
                    }
                   @if (ViewBag.Message != null && ViewBag.Message == 0)
                   {
                         <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Invalid email address!</h4>
                          </div>
                   }
                <div style="margin: 5% auto; border: solid 1px #ccc; width: 50%; background: #F8F8F8; padding: 50px;">
                     
                    

                    <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
                   
                    <div>
                        <div class="MT10">

                            <div>
                                <input class="form-control" id="focusedInput" name="email" type="email" required placeholder="Please enter your email">
                            </div>
                        </div>

                        <div class="checkbox">
                        </div>
                        <div class="MT10">

                            <div align="center">
                                <input class="btn btn-info forget" type="submit" value="Submit" >
                              
                            </div>
                          
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
}