@{
    ViewBag.Title = "ChangePassword";
}
<script src="@Url.Content("/Scripts/jquery.min.js")"></script>
<script type="text/javascript">
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }
    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
    }
</script>

<div class="col-lg-12">
    @using (Html.BeginForm("ChangePassword", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {   
        <div style="margin: 10% auto; border: solid 1px #ccc; background: #fff; width: 80%; padding: 50px;">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-5 control-label">Current Password</label>
                    <div class="col-lg-7">
                        <input type="password" name="oldpassword" class="form-control form-chpass" required placeholder="Current Password" style="display: inline; width: 90%; margin-right: 5px;"><span class="mandatory">*</span>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-5 control-label">New Password</label>
                    <div class="col-lg-7">
                        <input type="password" class="form-control form-chpass" id="password1" style="display: inline; width: 90%; margin-right: 5px;" required placeholder="New Password"><span class="mandatory">*</span>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-5 control-label">Confirm New Password</label>
                    <div class="col-lg-7">
                        <input type="password" name="newpassword" class="form-control form-chpass" style="display: inline; width: 90%; margin-right: 5px;" id="password2" required title="Please enter the same Password as above." placeholder="Confirm Password"><span class="mandatory">*</span>

                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="col-lg-5 control-label"></label>
                    <div class="col-lg-7 text-center bottom-space">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </fieldset>
            @if (ViewBag.Message == "success")
            {
                <div style="margin-top: 10px" class="alert alert-dismissible alert-success">
                    <strong class="alert-link">Password successfully changed. </strong><strong>Your new iCanSpeak password has been set.</strong>
                </div>
            }
            @if (ViewBag.Message == "error")
            {
                <div style="margin-top: 10px" class="alert alert-dismissible alert-danger">
                    @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                    <strong class="alert-link">An error occured, </strong><strong>Please try again.</strong>
                </div>
            }
            @if (ViewBag.Message == "invalid")
            {
                <div style="margin-top: 10px" class="alert alert-dismissible alert-danger">

                    <strong class="alert-link">Invalid current password.</strong> <strong>Please try again using correct password.</strong>
                </div>
            }
        </div>          
    }
</div>




