@{
    ViewBag.Title = "Test";
}
@{
  var userid = Session["UserId"];
}  
<a href="../../Home/MyCourse/@userid">
              <div class="col-lg-2 blue-wrapper2">
                    <h2>Grammar</h2>
                </div>
              </a>

               <a href="../../Home/MyCourse/@userid"> 
                <div class="col-lg-2 grey-wrapper">
                    <h2>Vocabulary</h2>
                </div></a>
               <a href="../../Home/MyCourse/@userid">
                <div class="col-lg-2 grey-wrapper">
                    <h2>Dialogue</h2>   
                </div></a>
                <div class="clearfix"></div>

                 <div id="horizontalTab">
                  <ul class="resp-tabs-list">
                      <li>Grammar</li>
                      <li>Vocabulary</li>
                      <li>Dialogue</li>
                      
                  </ul>
                  <div class="resp-tabs-container">
                      <div>
                            <div class="tab-pane" id="grammar">
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Unit 1 - Parts of Speech
                            <i class="fa fa-arrow-circle-right course-size"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                            Unit 2 - Noun
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Unit 3 - Singular - Plural
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                            Unit 4 - Adjective
                            <i class="fa fa-check-square-o course-size"></i>
                            </div>
                            </div>
                            </div>
                      </div>

                      <div>
                            <div class="tab-pane ">
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Adjectives
                            <i class="fa fa-arrow-circle-right course-size"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                            Adjectives
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Feelings
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                            Colors
                            <i class="fa fa-check-square-o course-size"></i>
                            </div>
                            </div>
                            </div>
                      </div>

                      <div>
                            <div class="tab-pane">
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Account Number
                            <i class="fa fa-arrow-circle-right course-size"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                           Any Other Service
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab">
                            Asking about a bill
                            <i class="fa fa-check-square-o course-right"></i>
                            </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-body unit-tab2">
                            Can I have
                            <i class="fa fa-check-square-o course-size"></i>
                            </div>
                            </div>
                            </div>
                      </div>
                     
                  </div>
			</div>