<div class="login-container after-login" ng-controller="LoginCtrl as lCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h2>BorgCivil</h2>
            </div>
            <div class="hpanel">
                <div class="panel-body text-center after-login">
                    <img src="Content/images/login_logo.png" class="p-b10 img-responsive">
                    <p>Enter your email address below &amp; we will send you password reset instructions..</p>
                    <form name="forgot_password_form" ng-submit="lCtrl.passwordSubmit(forgot_password_form.$valid)" novalidate>
                        <div class="form-group">
                            <i class="pe-7s-user"></i><input type="email" ng-model="lCtrl.passAttribute.Email" placeholder="E-Mail" title="Please enter you email" required class="form-control">
                        </div>
                        <div class="login-btn">                          
                            <button class="btn btn-success btn-block" title="Send Email" type="submit">SEND EMAIL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            2017 Copyright BorgCivil
        </div>
    </div>
</div>
