@charset "UTF-8";
/* CSS Document */
header h2 {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	font-size: 36px;
	color: #44c9ff;
}
audio {
	width: 100%;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
.addslot {
margin-top: 50px;
}
.header {
border: 1px solid #eee;
margin-bottom: 30px;
padding: 15px 0px 0px 20px;
}
/*.form-control {
border: none;
background-color: transparent;
}*/
.user-pannel {width: 15%;}
.login-box{ margin-top:10%; border: solid #666 4px; }
.login-box .toolbar {background: #1da6dd;border-top: 3px solid #6d6e71; text-align:center; padding:9px 8px;}
.login-box .forgot-password-link {color: #fff;}
.login-box .toolbar>div:first-child>a {margin-left: 11px;}
.login-box .toolbar>div {width: 50%;display: inline-block;padding: 9px 0 11px;}
.login-screen .toolbar>div>a {font-size: 15px;font-weight: 400;text-shadow: 1px 0 1px rgba(0,0,0,0.25);}
.login-screen{ background-color:#464646;}
.logo-text{ font-size:0.85em; color:#1da6dd; }
.logo-text2{ font-size:0.85em; color:#ffffff;}
.lighter {font-weight: lighter;}
h4.bigger {font-size: 1.5em;}
h4.pheader {line-height: 28px;margin-bottom: 16px;margin-top: 18px;padding-bottom: 4px;border-bottom: 1px solid #CCC;}
.login-box p{ padding: 1em 0 0 1.2em;font-size: 0.85em; color:#999;}
.back-to-login-link {color: #fff;font-size: 14px;font-weight: normal;text-shadow: 1px 0 1px rgba(0,0,0,0.25); padding:1em; text-align:center;}
