@{
    ViewBag.Title = "SendMessage";
}

<style type="text/css">
    #footer
    {
        width: 100% ;
       position: absolute;
        bottom: 0;
        left: 0;
    }
    #mailsection
    {
    min-height: 400px;
margin-top: 20px;
}
    .working{background:url('../Images/indicator.jpg') no-repeat right center;}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
type = "text/javascript"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
type = "text/javascript"></script> 
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
rel = "Stylesheet" type="text/css" />
<script src="@Url.Content("/Scripts/jquery.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSearch").autocomplete({
            search: function () { $(this).addClass('working'); },
            open    : function(){$(this).removeClass('working');},
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetUserName", "Message")',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            
                            return {
                                label: item.split('-')[0],
                                val: item.split('-')[1]
                            }
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {                
                $("#recieverid").val(i.item.val);
              
            },
            minLength: 1
        });

    });
</script>

<div class="row accordian">
<div class="col-sm-9">
                <section id="mailsection" class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case"> Compose Mail
                       </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div  >
                                @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                <div class="form-group">
                                    <label for="to" class="">To:</label>
                                    <input type="text" tabindex="1" id="txtSearch" class="form-control">
                                    <input name="recieverid" type="hidden" id="recieverid" />
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="">Subject:</label>
                                    <input name="subject" type="text" tabindex="1" id="subject" class="form-control">
                                </div>
                                 <div class="form-group ">
                                     <label for="subject" class="">Message:</label>
                                     <div class="col-lg-10 pull-left " style="margin-top:5px">
                                        <textarea name="messagebody" class="form-control" rows="5" id="textArea"></textarea>
                                     </div>
                                 </div>
                                <div class="compose-btn">
                                    <button class="btn btn-theme btn-info"><i class="fa fa-check"></i> Send</button>
                                  <a href="../../Message/Messages"><button class="btn btn-info"><i class="fa fa-times"></i> Discard</button></a>
                                </div>
                                
                                    <div class="form-group ">
                                 @if (ViewBag.Message == "success")
                                 {
                               <div style="margin-top:10px" class="alert alert-dismissible alert-success">
                                  <strong class="alert-link">Your message was successfully delivered. </strong>
                               </div>
                                 }
                    @if (ViewBag.Message == "error")
                    {
                    <div style="margin-top:10px" class="alert alert-dismissible alert-danger">
                      @*<button type="button" class="close" data-dismiss="alert">×</button>*@
                      <strong class="alert-link">Message delivery failed. </strong> <strong>Please try again.</strong>
                    </div>
                    }
                            </div>
                                }
                        
                            </div>
                        </div>
                    </div>
                </section>
            </div>
</div>
