@{
    ViewBag.Title = "Contents";
    Layout = "~/Views/Shared/_FAQLayout.cshtml";
}

<style type="text/css">
    .nav li a {
background-color: white;
color: #464646;
}
</style>

<div class="row">
    <div class="container">
          <div class="col-lg-3 content-box">
             <h2 class="container-text">Contents </h2>   
              <ul class="nav nav-pills nav-stacked">
                 <li><a href="../../ICanSpeak/Idea">The Idea</a></li>
                <li><a style="background-color: #36ABDD;" href="../../ICanSpeak/Contents">Contents</a></li>
                <li><a href="../../ICanSpeak/Benifits">Benefits</a></li>
              </ul>
          </div>
            <div class="col-lg-9 content-box-1">
                <legend style=" height:40px">Contents
                     <span class="right_btn"> <a  class="right_btn" href="../../Registration/UserRegistration"><button type="button" class="btn">Create Account</button> </a> </span> </legend>

              <h2 class="container-text-1"> <font color="6d6e71"> What is </font> <font color="1da6dd">I can Speak</font><font color="6d6e71"> all about </font> </h2>
              <p class="text-para">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p> 
              @*<a href="../../Registration/UserRegistration"><button type="button" class="btn">Create Account</button> </a>*@  
              <br><br>
               <p class="text-para">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p> 
              <ul class="content-menu">
                <li><a href="#"><i class=" fa fa-caret-right"></i> Lorem Ipsum is simply dummy text</a></li>
                <li><a href="#"><i class=" fa fa-caret-right"></i> Lorem Ipsum is simply dummy text</a></li>
                <li><a href="#"><i class=" fa fa-caret-right"></i> Lorem Ipsum is simply dummy text</a></li>
                <li><a href="#"><i class=" fa fa-caret-right"></i> Lorem Ipsum is simply dummy text</a></li>
              </ul>
          </div>
           
        </div>
   
    </div>
