@{
    Layout = null;
}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to I Can Speak</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min%202.css" rel="stylesheet" />
    <link href="~/Content/css/full-slider.css" rel="stylesheet" />
   
  

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top slider_top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="#"><font size="2" color="white">Switch to</font>
                    <button type="button" class="btn btn-info btn-nav"><font size="2">Arabic</font></button>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
                <ul class="nav navbar-nav top-right">
                    <li>
                        <a href="../../Home/Index">Skip</a>
                    </li>
                   @* <li>
                        <a href="#">Get Started</a>
                    </li>*@
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
             <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                 <div class="fill" style="background-image:url(../img/English_1.jpg); background-repeat: no-repeat"></div>
               @* <div class="carousel-caption">
                <h1>Welcome to I Can Speak..!</h1>
                    <p>Get ready to accelerate your life and join our successful community to improve your English Speaking Skills</p>
                </div>*@
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/English_2.jpg); background-repeat: no-repeat"></div>
               @* <div class="carousel-caption">
                    <h1>Fun Learning</h1>
                    <p>Explore a unique and different style to learn English in an engaging &amp; motivating environment</p>
                </div>*@
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url(../img/English_3.jpg); background-repeat: no-repeat"></div>
               @* <div class="carousel-caption">
                    <h1>Lessons Tailored for you</h1>
                    <p>A great experience awaits you to learn key English skills e.g. Conversations, Vocabulary and necessary grammer skills</p>
                </div>*@
            </div>
            
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/English_4.jpg); background-repeat: no-repeat"></div>
               @* <div class="carousel-caption">
                    <h1>Instant Feedback</h1>
                    <p>We are with you 24/7 to evaluate your progress in all the lessons to ensure that you achieve the highest level of proficiency.</p>
                </div>*@
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/English_5.jpg); background-repeat: no-repeat"></div>
                @*<div class="carousel-caption">
                    <h1>Communicate</h1>
                    <p>Reinforce your learning by connecting with your personal friends group or native English tutors</p>
                </div>*@
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url(../img/English_6.jpg); background-repeat: no-repeat"></div>
                @*<div class="carousel-caption">
                    <h1>Instant Feedback</h1>
                    <p>Our goal is to improve your speaking skills. We provided speaking activities in all lessons to ensure your practice speaking and be evaluated instantly via the system.</p>
                </div>*@
            </div>
        </div>
        @*<div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                 <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                <h1>Welcome to I Can Speak..!</h1>
                    <p>Get ready to accelerate your life and join our successful community to improve your English Speaking Skills</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                    <h1>Fun Learning</h1>
                    <p>Explore a unique and different style to learn English in an engaging &amp; motivating environment</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                    <h1>Lessons Tailored for you</h1>
                    <p>A great experience awaits you to learn key English skills e.g. Conversations, Vocabulary and necessary grammer skills</p>
                </div>
            </div>
            
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                    <h1>Instant Feedback</h1>
                    <p>We are with you 24/7 to evaluate your progress in all the lessons to ensure that you achieve the highest level of proficiency.</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                    <h1>Communicate</h1>
                    <p>Reinforce your learning by connecting with your personal friends group or native English tutors</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url(../img/content-bg.png); background-repeat: no-repeat"></div>
                <div class="carousel-caption">
                    <h1>Instant Feedback</h1>
                    <p>Our goal is to improve your speaking skills. We provided speaking activities in all lessons to ensure your practice speaking and be evaluated instantly via the system.</p>
                </div>
            </div>
        </div>*@

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    
    <!-- /.container -->

    <!-- jQuery -->
    
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3500 //changes the speed
    })
    </script>

</body>

</html>
