   <div class="page-content-wrapper">
            <div class="page-content" style="min-height:720px">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

                <!-- BEGIN PAGE HEADER-->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <label>Home</label>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <label>Dashboard</label>
                        </li>
                    </ul>

                </div>
                <h3 class="page-title">Dashboard <small>reports & statistics</small>
                </h3>
                <!-- END PAGE HEADER-->
                <!-- BEGIN DASHBOARD STATS -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    
                                </div>
                                <div class="desc">
                                   <a style="color:whitesmoke"ui-sref="Main.VendorList"> Vendor List </a>
                                </div>
                            </div>
                            <a class="more" ui-sref="Main.VendorList" >View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat red-intense">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                   
                                </div>
                                <div class="desc">
                                    <a style="color:whitesmoke" ui-sref="Main.ManageActivePromotion" > Promotion List </a>
                                </div>
                            </div>
                            <a class="more" ui-sref="Main.ManageActivePromotion">View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    
                                </div>
                                <div class="desc">
                                    <a style="color:whitesmoke" ui-sref="Main.PlatinumRewardList" >Premium Reward List </a>
                                </div>
                            </div>
                            <a class="more" ui-sref="Main.PlatinumRewardList">View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                   
                                </div>
                                <div class="desc">
                                   <a style="color:whitesmoke" ui-sref="Main.GoldRewardList" >Gold Reward List </a>
                                </div>
                            </div>
                            <a class="more"  ui-sref="Main.GoldRewardList">View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DASHBOARD STATS -->
                <div class="clearfix">
                </div>
                <!--<div class="row">
                    <div class="col-md-6 col-sm-6">
                       
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-sharp hide"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">Site Visits</span>
                                    <span class="caption-helper">weekly stats...</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                            <input type="radio" name="options" class="toggle" id="option1">New</label>
                                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                            <input type="radio" name="options" class="toggle" id="option2">Returning</label>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="site_statistics_loading">
                                    <img src="images/loading.gif" alt="loading" />
                                </div>
                                <div id="site_statistics_content" class="display-none">
                                    <div id="site_statistics" class="chart">
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-md-6 col-sm-6">
                       
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-share font-red-sunglo hide"></i>
                                    <span class="caption-subject font-red-sunglo bold uppercase">Revenue</span>
                                    <span class="caption-helper">monthly stats...</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a href="" class="btn grey-salsa btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Filter Range<span class="fa fa-angle-down">
                                        </span>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;">Q1 2014 <span class="label label-sm label-default">past </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Q2 2014 <span class="label label-sm label-default">past </span>
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:;">Q3 2014 <span class="label label-sm label-success">current </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Q4 2014 <span class="label label-sm label-warning">upcoming </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="site_activities_loading">
                                    <img src="images/loading.gif" alt="loading" />
                                </div>
                                <div id="site_activities_content" class="display-none">
                                    <div id="site_activities" style="height: 228px;">
                                    </div>
                                </div>
                                <div style="margin: 20px 0 10px 30px">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                            <span class="label label-sm label-success">Revenue: </span>
                                            <h3>$13,234</h3>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                            <span class="label label-sm label-info">Tax: </span>
                                            <h3>$134,900</h3>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                            <span class="label label-sm label-danger">Shipment: </span>
                                            <h3>$1,134</h3>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                            <span class="label label-sm label-warning">Orders: </span>
                                            <h3>235090</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>-->


                <div class="clearfix">
                </div>
            <!--    <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-cursor font-purple-intense hide"></i>
                                    <span class="caption-subject font-purple-intense bold uppercase">General Stats</span>
                                </div>
                                <div class="actions">
                                    <a href="javascript:;" class="btn btn-sm btn-circle btn-default easy-pie-chart-reload">
                                        <i class="fa fa-repeat"></i>Reload </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="easy-pie-chart">
                                            <div class="number transactions" data-percent="55">
                                                <span>+55 </span>
                                                %
                                            </div>
                                            <a class="title" href="javascript:;">Transactions <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-10 visible-sm">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="easy-pie-chart">
                                            <div class="number visits" data-percent="85">
                                                <span>+85 </span>
                                                %
                                            </div>
                                            <a class="title" href="javascript:;">New Visits <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-10 visible-sm">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="easy-pie-chart">
                                            <div class="number bounce" data-percent="46">
                                                <span>-46 </span>
                                                %
                                            </div>
                                            <a class="title" href="javascript:;">Bounce <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-equalizer font-purple-plum hide"></i>
                                    <span class="caption-subject font-red-sunglo bold uppercase">Server Stats</span>
                                    <span class="caption-helper">monthly stats...</span>
                                </div>
                                <div class="tools">
                                    <a href="" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="" class="reload"></a>
                                    <a href="" class="remove"></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="sparkline-chart">
                                            <div class="number" id="sparkline_bar"></div>
                                            <a class="title" href="javascript:;">Network <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-10 visible-sm">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="sparkline-chart">
                                            <div class="number" id="sparkline_bar2"></div>
                                            <a class="title" href="javascript:;">CPU Load <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-10 visible-sm">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="sparkline-chart">
                                            <div class="number" id="sparkline_line"></div>
                                            <a class="title" href="javascript:;">Load Rate <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN REGIONAL STATS PORTLET-->
                      
                        <!-- END REGIONAL STATS PORTLET-->
                    </div>
                  
                </div>-->
                <div class="clearfix">
                </div>

            </div>
        </div>
