<script src="plugins/jQuery-2.1.4.min.js"></script>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

</body>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) { //do work
            window.location.href = 'https://www.facebook.com/eddeeit';
        });
        //$(document).ready(function () {
        //    window.location.href = 'https://www.facebook.com/eddeeit';
        //    alert()
        //})


    </script>
</html>
